body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    text-align: center;
}

#tooltip {
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid black;
    opacity: 0;
    border-radius: 5px;
}

svg {
    width: 90%;
    height: 550px;
    border: 1px solid lightgray;
}

#worldMapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#downloadForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

input[type=number],
select {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px;
}

label {
    margin: 5px;
}

#centeredDownloadBarWrapper {
    display: flex;
    justify-content: center;
}

#downloadBarContainer {
    width: 90%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 20px;
}

#downloadBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #4CAF50;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

#timeInfo {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s 0.1s;
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-width: 400px;
        height: 80vh;
        overflow-y: auto;
        transform: translate(-50%, -50%);
    }
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.close:hover {
    color: red;
    background-color: rgba(255, 255, 255, 0.9);
}


.round-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    transition: background-color 0.3s;
}

.round-btn:hover {
    background-color: #45a049;
}

.round-btn {
    height: 60px;
    width: 60px;
}

.fa-solid {
    font-size: 40px;
    vertical-align: middle;
}