body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    text-align: center;
}

input[type=number],
select {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px;
}


#downloadBarContainer {
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 20px;
}

#downloadBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #4CAF50;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}